.list-container {
  width: 85%;
  margin: 40px auto;

  .list-container__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .list-container__title {
    text-align: center;
  }

  .edit-button {
    margin-right: 6px;
  }
}
